---
import NavigationBar from "./NavigationBar.svelte";
import Header from "./Header.svelte";
import UserId from "../components/UserId.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Questions and answers</title>
  </head>
  <body>
    <div class="sticky top-0 z-10 border-b">
      <Header class="max-w-screen-lg mx-auto" >
        <UserId client:only={"svelte"} />
      </Header>
    </div>
    
    <div class="max-w-screen-lg mx-auto">
      <NavigationBar class="sticky top-[61px] z-10 bg-white" pathname={Astro.url.pathname} />
      <slot />
    </div>
  </body>
</html>
