---
import UserId from "../components/UserId.svelte";
import Path from "./Path.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Questions and answers</title>
  </head>
  <body class="h-dvh">
    <nav class="sticky top-0 z-10 w-full bg-white p-2 mb-5 items-center">
      <div class="flex items-center justify-between max-w-screen-lg mx-auto gap-x-4">
        <div class="flex flex-col truncate">
          <div class="text-2xl font-bold truncate">
            Q&A platform
          </div>
          <div class="text-xs italic truncate ml-4">
            Hello <UserId client:only="svelte" />
          </div>
        </div>
        <Path pathname={Astro.url.pathname} />
      </div>
    </nav>
    
    <div class="max-w-screen-lg mx-auto">
      <slot />
    </div>
  </body>
</html>
